<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
</head>

<body>
    <section class="wrapper">
        <%- include('./partials/menu'); %>
        <section class="content-wrapper">
            <header>
                <div class="menu-bar" id="menu-bar"><i class="fa-solid fa-bars fa-2x"></i></div>
                <div>
                    <h1>MUSIC</h1>
                </div>
            </header>

            <section class="content music">
                <% trackList.forEach(function(track) { %>
                <div class="music-cards" onclick="selectCurrentSong('<%= track.id %>')">
                    <img src="<%= track.image %>" >
                    <div class="music-track bold"><%= track.name %></div>
                    <div class="music-artist"><%= track.artist %></div>
                    <input type="hidden" value="<%= track.id %>">
                </div>
                <% }) %>
            </section>
            <%- include('./partials/mobileplaylist'); %>
            <%- include('./partials/mobilemenu'); %>
        </section>
    </section>

    <script>
        function selectCurrentSong(index){
            songIndex=index-1;
            let width = screen.width;
            if(width<=450){
                loadSongMobile(trackList[songIndex]);
                playSongMobile();
            }else{
                loadSong(trackList[songIndex]);
                playSong();
            }
            
        }
    </script>
</body>

</html>